@media (min-width: 992px) {
    #heading{
        font-family: Helvetica;
        font-size: 175%;
        text-align: center;
    }


    .sec1{
        background-color: gray;
        width: 29vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }

    .sec2{
        background-color: gray;
        width: 29vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }

    .sec3{
        background-color: rgb(153,153,153);
        width: 29vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }


    .sec1 h4 {
        background-color: rgb(213,152,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }

    .sec2 h4 {
        background-color: rgb(193,69,67);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }

    .sec3 h4 {
        background-color: rgb(229,209,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #heading{
        font-family: Helvetica;
        font-size: 175%;
        text-align: center;
    }
    
    
    .sec1{
        background-color: gray;
        width: 45vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }
    
    .sec2{
        background-color: gray;
        width: 45vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }
    
    .sec3{
        background-color: rgb(153,153,153);
        width: 93vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }
    
    
    .sec1 h4 {
        background-color: rgb(213,152,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }
    
    .sec2 h4 {
        background-color: rgb(193,69,67);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }
    
    .sec3 h4 {
        background-color: rgb(229,209,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 85%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }
}

@media (max-width: 767px) {
    #heading{
        font-family: Helvetica;
        font-size: 175%;
        text-align: center;
    }


    .sec1{
        background-color: gray;
        width: 93vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }

    .sec2{
        background-color: gray;
        width: 93vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }

    .sec3{
        background-color: rgb(153,153,153);
        width: 93vw;
        box-sizing:border-box;
        float: left;
        border:1px solid black;
        margin-left: 2vw;
        margin-right: 1vw;
        margin-top: 2vw;
        align-items: center;
        padding-left: 1%;
    }


    .sec1 h4 {
        background-color: rgb(213,152,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }

    .sec2 h4 {
        background-color: rgb(193,69,67);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }

    .sec3 h4 {
        background-color: rgb(229,209,152);
        border-width: 0px;
        font-size: 125%;
        margin-left: 70%;
        border: 0px;
        border-color: black;
        margin-top: 0px;
        text-align: center;
        padding-right : 2px; 
        margin-bottom: 2px;
        border: 1px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    }
}